h3{
    color: green;
}

p {
    color: #123456;
}
/* #id 선택자 */
#two{
    color: red;
}
/* .class 선택자 */
.orange{
    color: orange;
}

p.center{
    text-align: center;
}

p#size{
    font-size: 50px;
}

li{
    color: blueviolet;
    background-color: #00ff00;
}

ul.korean > li{
    color: yellowgreen;
}

.box {
    /* border: 5px dashed red; */
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;

    margin-top: 10px;
    margin-left: 5px;

    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;

    text-align: center;

    
}

.font{
    font-family: Tangerine;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}